<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-dark">
    <p class="clearfix mb-0">
      <span class="float-md-left d-block d-md-inline-block mt-25"
        >2023 &copy; Made with<i data-feather="heart"></i> by<a
          class="ml-25"
          href="https://github.com/zqnxz"
          target="_blank"
          >qnx</a
        >
      </span>
    </p>
  </footer>
  
  <button class="btn btn-primary btn-icon scroll-top" type="button">
    <i data-feather="arrow-up"></i>
  </button>
  <!-- END: Footer-->
  