<div>
    <h1>Create a Store</h1>
    <form action="/store/create" method="POST">
        <input type="text" name="name" placeholder="store-name">
        <input type="text" name="domain" placeholder="domain-name">
        <button type="submit">Create Store</button>
    </form>  
</div>